@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul):active) {
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
}

html {
  background: url("/src/img/mountain.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body,
html {
  overflow-x: hidden;
  zoom: 0.925;
}

.card-title,
.card-body {
  font-family: "Inter", sans-serif;
}

.card-title {
  display: flex;
  flex-wrap: wrap;
}

input[type="checkbox"] {
  height: 1.4em;
  width: 1.4em;
  padding: 0.8em;
  margin-left: 1rem;
  background-color: #eee;
}

img {
  max-width: 50%;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-compact .card-body {
  padding: 0 20px 0 20px;
}

.card-price {
  font-weight: bold;
  margin-right: auto;
}

.file-input {
  display: flex;
  font-size: 0;
  width: 7.5rem;
  padding-right: 0;
}

li a,
li button {
  font-size: 1.1em;
}
